<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awareness Website</title>
</head>
<body>
    <h2> You just clicked on the suspicious link </h2>
    <p>Answer few question below:</p>
    <form action="/logs" method="POST">
        <label>User Email:</label>
        <input type="email" name ="user_email" placeholder="Please input your email address here" required>
        <br>
        <input type="checkbox" name="check_box" value="1">
        <span>Check if you authorize me to check you ip address</span>
        <br>
        <button type="submit">Verify now</button>
    </form>
</body>
</html>